# Test report  

## Testing performed

*This section should describe your test plans, and results.*

*Every test should have a clear goal so that pass/fail can be indicated against all tests actually performed.*

*For some tests, it is a good idea to use screenshots of target and actual results.*

*You should research testing to set your testing within the known methodologies.*


This testing includes three important sections. 

1. The Game Level Generator and Smart Game Solver should be able to solve a given grid with their own respective algorithms. 

2. The algorithm should be able to be analyzed with certain measurements and indicators. 

3. An easier (or harder) grid should be able to be generated with the input of the indicators from the previous grid. 

As of the end of sprint four, the product passes testing for all three sections. 


## Automatic Testing:
*Describe any JUnit tests you created. Describe what percentage of program functionality is covered by JUnit tests.*

*Highlight any functionality not covered by JUnit tests, and say how you overcame that shortfall.*

*Describe if you managed to use the continuous integration server to run tests - which tests were run, and what were the results?* 

Nil. 
