# Test report  

## Testing performed

* This testing includes three important sections. 

1. The Game Level Generator and Smart Game Solver should be able to solve a given grid with their own respective algorithms. 

2. The algorithm should be able to be analyzed with certain measurements and indicators. 

3. An easier (or harder) grid should be able to be generated with the input of the indicators from the previous grid. 

* As of the end of sprint four, the product passes testing for all three sections. 


## Automatic Testing:

* Nil. 
